[Unit]
Description=DbGate
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/default/dbgate
User=paulchen
Type=oneshot
RemainAfterExit=true
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull dbgate/dbgate:${DBGATE_VERSION}

ExecStart=docker compose -f /opt/admin-tools/docker-compose/dbgate/docker-compose.yml --env-file /etc/default/dbgate up -d --remove-orphans
ExecStop=docker compose -f /opt/admin-tools/docker-compose/dbgate/docker-compose.yml --env-file /etc/default/dbgate down

[Install]
WantedBy=multi-user.target
