[Unit]
Description=nextcloud
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/default/nextcloud
User=root
Type=oneshot
RemainAfterExit=true
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull nextcloud:${NEXTCLOUD_VERSION}

ExecStart=docker compose -f /opt/admin-tools/docker-compose/nextcloud/docker-compose.yml --env-file /etc/default/nextcloud up -d --remove-orphans
ExecStop=docker compose -f /opt/admin-tools/docker-compose/nextcloud/docker-compose.yml --env-file /etc/default/nextcloud down

[Install]
WantedBy=multi-user.target

